if command -v fnm >/dev/null 2>&1; then
  eval "$(fnm env --use-on-cd --shell bash)"
  fnm use "$(cat .node-version)" >/dev/null
elif command -v mise >/dev/null 2>&1; then
  eval "$(mise activate zsh)"
  mise install >/dev/null
fi
dotenv_if_exists .env
